@layer components {
    .tacticSans {
        font-family: var(--font-tacticSans), sans-serif;
        font-weight: 400;
        font-size: clamp(1.5625rem, 5vw, 2rem);
        line-height: 100%;
    }

    .inter12Bold {
        font-size: 0.75rem;
        font-weight: 600;
        line-height: 100%;
    }

    .inter16Bold {
        font-size: clamp(0.875rem, 5vw, 1rem);
        font-weight: 600;
        line-height: 100%;
    }

    .inter18Bold {
        font-size: clamp(1rem, 5vw, 1.125rem);
        font-weight: 600;
        line-height: 100%;
    }

    .inter18Reg {
        font-size: clamp(1rem, 5vw, 1.125rem);
        font-weight: 500;
        line-height: 100%;
    }

    .inter20Bold {
        font-size: clamp(1rem, 5vw, 1.25rem);
        font-weight: 600;
        line-height: 100%;
    }

    .medium {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: clamp(0.875rem, 5vw, 1rem);
        line-height: 150%;
    }

    .base {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 150%;
    }

}